*{margin:0px;padding:0px;box-sizing: border-box;}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > h1 {
    color: #212121;
    letter-spacing: 3px;
    text-shadow: 1.5px 1.5px 0px white,
            1px 1px 2px rgba(255,255,255,.4);
    margin-bottom: 20px;
    transition: all .5s;
}
.main > h1:hover {
    text-shadow: 1.5px 1.5px 0px white,
            1px 1px 4px rgba(255,255,255,.6);
}
.choice {
    display: flex;
    gap: 10px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    height: 40px;
    filter: drop-shadow(1px 1px 3px rgba(255,255,255,.3));
    transition: all .5s;
    cursor: pointer;
}
[type=radio] + img:hover {
    transform: scale(1.10);
}

[type=radio]:checked + img {
    transform: scale(1.10);
    filter: drop-shadow(1px 1px 3px rgba(255,255,255,.7));
}

.board {
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 3em);
    grid-template-rows: repeat(3, 3em);
    border: 3px solid white;
    background-color: #eee;
    box-shadow: inset 2px 2px 3px rgba(33,33,33,0.4),
                1px 1px 3px rgba(255,255,255,.4);
}

div.board div {
    transition: .3s all;
}

div.boardElement {
    border: 2px solid white;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(33,33,33,0.4),
                inset 1px 1px 3px rgba(255,255,255,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    color: white;
    cursor: pointer;
}

div.boardElement > img {
    filter: drop-shadow(0px 0px 2px rgba(255,255,255,0.4))
}

div.boardElement:hover {
    transform: scale(.98);
    box-shadow: 0px 0px 0px rgba(33,33,33,0.4),
                inset 1px 1px 3px rgba(255,255,255,0.4);
}

div.noHover{
    pointer-events: none;
}

div.winningElement {
    background-color: #355e3b;
}

div.losingElement {
    background-color: #800000;
}

button {
    border: 5px;
    background-color: #212121;
    border: 2px solid #eee;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.4);
    text-shadow: 0px 0px 2px rgba(255,255,255,0.4);
    border-radius: 5px;
    color: #eee;
    font-weight: 600;
    padding: 3px;
    margin-top: 10px;
    font-size: .6em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}
button:hover {
    box-shadow: 0px 0px 4px rgba(255,255,255,0.7);
    text-shadow: 0px 0px 4px rgba(255,255,255,0.7);
}
button:disabled {
    cursor: inherit;
    pointer-events: none;
    opacity: .6;
}